

$borderDev : 1px;

$color_background: #282c34;
$spacing: 20px;




* {
	box-sizing: border-box;
  margin: 0px;
	font-family: sans-serif;
}

a {
  text-decoration: none;
  color:black;
}

h1 {
  text-align: center;
}

h4 {
  color: grey;
  font-weight: 400;
}




.App {
	background-color: $color_background;
	color: white;
  padding: $spacing;
	height: 100vh;
	display: flex;
	flex-direction: column;
  align-items: center;
  &.devMode{
    border: $borderDev solid cyan;
  }
}

.Header {
  width: 400px;
  margin-bottom: $spacing;
  &.devMode{
    border: $borderDev solid yellow;
  }
}

.Main {
		color: black;
    width: 400px;
    // flex: 1;
    display: grid;
    grid-template-columns: 1fr;
    // grid-column-gap: $spacing;
    // grid-row-gap: $spacing;
    &.devMode{
      border: $borderDev solid yellow;
    }
}


.Footer {
  margin: 10px 0px;
	border: $borderDev solid yellow;
  a {
    color:white;
  }
}

// @media screen and (min-width: 860px){
//   .Header, .Footer {
//     width: 820px;
//   }
//   .Main {
//     width: 820px;
//     grid-template-columns: 1fr;
//   }
// }

// @media screen and (min-width: 1280px){
//   .Header, .Footer  {
//     width: 1240px;
//   }
//   .Main, .Footer  {
//     width: 1240px;
//     grid-template-columns: 1fr;
//   }
// }

// @media screen and (min-width: 1700px){
//   .Header, .Footer  {
//     width: 1660px;
//   }
//   .Main {
//     width: 1660px;
//     grid-template-columns: 1fr 1fr 1fr  1fr;
//   }
// }





.Card {
  font-size: 12pt;
  background-color: #eee;
  border-radius: 15px;
  
  box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.5);
  // height: 200px;
  padding: 10px;
  margin: 10px;

  &.devMode {
    border: 1px solid blue; 

  }

  h4 {
    margin-bottom: 5px;
  }
  ul {
    list-style-type: none;
    padding: 0;
  }
}

form {
  display: flex;
  flex-direction: column;
  label {
    width: 80px;
    text-align: right;
  }
}




.hidden {
	display: none;
}


.detail-row, .form-row {
    display: flex;
    &.devMode {
      border: $borderDev solid lightblue;
    }
}


.detail-row label, .form-row label{
  padding-right: 10px;
}

.detail-row input, .form-row input {
  font-size: 12pt;
  outline: none;
  flex: 1;
  height: 20px;
}

.detail-row.last, .form-row.last {
  justify-content: flex-end;
  align-self: flex-end;
  margin-top: 10px;
}


button {
  height: 29px;
  outline: none;
  align-items: right;
  font-size: 10pt;
  padding: 7px;
  border: 0px;
  border-radius: 5px;
  color: white;
  font-weight: 200;
  text-transform: uppercase;
}

button.reset{
    background-color: red;
    margin-right: 10px;
}

button.submit {
  background-color: dodgerblue;
}
//
// button.info {
//   background-color: orange;
// }
//
// select {
//   flex: 1;
//   outline: none;
//   background-color: #eeeeee;
//   font-size: 16px;
//   border: 0;
//   border-radius: 0;
//   -webkit-appearance: none;
// }
//
// .left {
// 	text-align: left;
// }
//
// .center {
// 	text-align: center;
// }
//
.right {
	text-align: right;
}